html {
	background-image: url(scanlines.png);
	opacity: 0.85;
}
body{
	margin:0;
	background-color: black;
	padding-bottom:501px; 
}
head{
	background-color: black;
}
p {
	color: green;
}
article {
	margin-top: 70px;
	background:black;
}
aside {
	background-color: black;
	size: 80%;
	padding-left: .5rem;
	margin-right: 10px;
    float: right;
    font-style: italic;
	color: green;
}
link {
	color: green;
	 }